[Unit]
Description=Auto MIDI connect MPK to CME
After=sound.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/midi-auto.sh
User=root
Group=audio

[Install]
WantedBy=multi-user.target
