[Unit]
Description=Auto MIDI connect MPK to CME
After=sound.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/moudi/midi-auto.sh
User=moudi
Group=moudi
SupplementaryGroups=audio

[Install]
WantedBy=multi-user.target
